:root {
  /* text  */
  --verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-greyish-blue: hsl(237, 12%, 33%);
  --dark-greyish-blue: hsl(240, 6%, 50%);

  /* Background gradient: */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Dividers */

  --light-greyish-blue: hsl(240, 5%, 91%);
}

body {
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
}
/* small screen  */
#container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: white;

  border-radius: 15px;
  margin: 0 auto;
  -webkit-box-shadow: 4px 15px 59px -12px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 15px 59px -12px rgba(0, 0, 0, 1);
  box-shadow: 4px 15px 59px -12px rgba(0, 0, 0, 1);
}

#image {
  order: 1;
  margin-right: 20px;
}

#image img {
  width: 200px;
  position: relative;
  left: -50px;
}

#questions {
  order: 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 375px) {
  /* 375px and bigger  */

  #container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: white;
    width: 60vw;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-box-shadow: 4px 15px 59px -12px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 15px 59px -12px rgba(0, 0, 0, 1);
    box-shadow: 4px 15px 59px -12px rgba(0, 0, 0, 1);
  }
}
